<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.obliviusapps.gmo</string>
	<key>CFBundleVersion</key>
	<string>1.2</string>
	<key>MinimumOSVersion</key>
	<string>5.0</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>images/icon_114</string>
		<string>images/icon_57</string>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>Μεταλλαγμενα</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackTranslucent</string>
</dict>
</plist>
